[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pyyaml = "*"
netmiko = "*"
nornir-utils = "*"
nornir-napalm = "*"
nornir-netmiko = "*"

[dev-packages]

[requires]
python_version = "3.8"
