interface {{interface_10}}
    {{vlan_access}} 
    switchport access vlan {{vlan_10}}
    no shutdown

interface {{interface_20}}
    {{vlan_access}} 
    switchport access vlan {{vlan_20}}
    no shutdown